
@{ 
    ViewData["Title"] = "Home Page"; 
    }

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<div style="text-align: center;">
    <h1 class="display-4">Search</h1>
    <h4>Choose a country below</h4>
    <p class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></p>
    <p class="text-success" th:if="${successMessage}" th:text="${successMessage}"></p>
    <form method="POST" enctype="text/plain" action="/api/Search" autocomplete="off">
        <div>
            <style>
                div {
                    margin-bottom: 10px;
                }

                label {
                    display: inline-block;
                    width: 150px;
                    text-align: right;
                }
            </style>
                @Html.DropDownList("country", new SelectList(Enumerable.Empty
        <SelectListItem>()))

            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script type="text/javascript">
                //Fetching Countries List
                $(document).ready(function() {
                    $.ajax({
                        url: "/api/Countries",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        datatype: JSON,
                        success: function(result) {
                            $('#country').append($("<option></option>").attr("id", "Any").attr("name","Any").text("Any"));
                            $.each(result, function(key,value) { 
                                $('#country').append($("<option></option>").attr("id", value).attr("name",value).text(value)); //iterate over id as number => attr("id", key)
                                });
                        },
                        error: function(data) {}
                    });
                });
                </script>
                </div>
                <div id="addressFields" class="addressFields" style="display: inline-block; text-align: left;">
                <p align="center"><strong>Address Fields</strong></p>
                <script type="text/javascript">
                    //Fetch Country specific fields
                    $("#country").change(function() { // Run this function when option is selected
                        var country = this.value;
                        $.ajax({
                            url: "/api/Country/" + country,
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            datatype: JSON,
                            success: function(result) {  
                                $('#addressFields').empty();
                                $.each(result, function(key,value) {                            
                                    $('#addressFields').append($("<label></label>").attr("for", value).text(value));        
                                    $('#addressFields').append($("<input>").attr("type", "text").attr("id",value).attr("name",value));
                                    $('#addressFields').append($("<br>"));
                                });
                                $('#addressFields').append($("</div>"));
                            },
                            error: function(data) {}
                        });
                    });
            </script>
        </div>
        <br>
        <div>
            <button id="button" type="button" value="send" class="btn btn-primary" onclick="clearRadios()">Clear</button>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        

        <script>

        function clearRadios() {
			    document.getElementById("buildingNumber").value = "";
                document.getElementById("streetName").value = "";
                document.getElementById("neighborhood").value = "";
                document.getElementById("quadrant").value = "";
                document.getElementById("city").value = "";
                document.getElementById("postalCode").value = "";
                document.getElementById("stateOrProvince").value = "";
                document.getElementById("postalSymbol").value = "";
                document.getElementById("prefectureName").value = "";
                document.getElementById("subarea").value = "";
                document.getElementById("furtherSubarea").value = "";
                document.getElementById("block").value = "";
                document.getElementById("subdivisionOrPrecinct").value = "";
	  	        };
         </script>
    </form>
</div>


