
@{ 
    ViewData["Title"] = "Home Page"; 
    }

<div style="text-align: center;">
    <h1 class="display-4">Search</h1>
    <h4>Choose a country below</h4>
    <p class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></p>
    <p class="text-success" th:if="${successMessage}" th:text="${successMessage}"></p>
    <form method="POST" enctype="multipart/form-data" action="/api/Search" id="addressSearch" autocomplete="off">
        <div>
            <style>
                div {
                    margin-bottom: 10px;
                }

                label {
                    display: inline-block;
                    width: 150px;
                    text-align: right;
                }
            </style>
            @Html.DropDownList("country", new SelectList(Enumerable.Empty
    <SelectListItem>()))

            <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script type="text/javascript">
                //Fetching Countries List
                $(document).ready(function () {
                    $.ajax({
                        url: "/api/Countries",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        datatype: JSON,
                        success: function (result) {
                            $('#country').append($("<option selected disabled hidden></option>").attr("id", "Choose").attr("name", "Choose").text("--Please choose an option--"));
                            $('#country').append($("<option></option>").attr("id", "Any").attr("name", "Any").text("Any"));
                            $.each(result, function (key, value) {
                                $('#country').append($("<option></option>").attr("id", value).attr("name", value).text(value)); //iterate over id as number => attr("id", key)
                            });
                        },
                        error: function (data) { }
                    });
                });
            </script>
        </div>
        <div id="addressFields" class="addressFields" style="display: inline-block; text-align: left;">
            <script type="text/javascript">
                //Fetch Country specific fields
                $("#country").change(function () {                            
                    $('#output').empty();
                    $("#buttons").css("display", "block");
                    var country = this.value;
                    $.ajax({
                        url: "/api/Country/" + country,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        datatype: JSON,
                        success: function (result) {
                            $('#addressFields').empty();
                            $('#addressFields').append($("<p></p>").attr("align","center").attr("style", "font-weight : bold").text("Address Fields"));
                            $.each(result, function (key, value) {
                                $('#addressFields').append($("<label></label>").attr("for", value).text(value));
                                $('#addressFields').append($("<input>").attr("type", "text").attr("style", "margin-left : 10px").attr("id", value).attr("name", value));
                                $('#addressFields').append($("<br>"));
                            });
                            $('#addressFields').append($("</div>"));
                        },
                        error: function (data) { }
                    });
                });
            </script>
        </div>
        <br>
        <script>

            $("#addressSearch").submit(function (e) {
                e.preventDefault();                    
                $("#outputs").css("display", "block");
                var country = $("#country").val();
                if (country == "Any") {
                    $("#country").val(" ");
                }
                var data = $('#addressSearch').serializeArray()
                    .reduce(function (a, x) { a[x.name] = x.value; return a; }, {});
                var dataJson = JSON.stringify(data);
                if (country == "Any") {
                    dataJson = dataJson.replace(/}$/, ',"country":""' + '}');
                    $("#country").val("Any");
                }
                $.ajax({
                    type: "POST",
                    url: "/api/Search",
                    data: dataJson,
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    success: function (result) {                            
                        $('#output').empty();
                        var json = JSON.stringify(result, null, ' ');
                        //$('#output').text(json);

                        var divId = document.getElementById("output")
                        console.log(JSON.parse(json) + " " + JSON.parse(json).length)
                        json = JSON.parse(json)

                        if (json.length <= 0) {
                            var divId = document.getElementById("output")
                            divId.innerHTML = divId.innerHTML + "<br/>" +"sorry No matching addresses"
                        }

                        console.log(json)
                        for (var i = 0; i < json.length; i++) {
                            for (var keys in json[i]) {
                                if (json[i][keys]) {
                                    console.log(keys + "-->" + json[i][keys]);
                                    divId.innerHTML = divId.innerHTML + "<br/>" + keys + ": " + json[i][keys];
                                }
                            }
                            divId.innerHTML = divId.innerHTML + "<br>";
                        }

                    },
                    error: function (result) {
                    }
                });
            });
        </script>
        <div id="buttons" style="display:none">
            <button id="button" type="button" value="send" class="btn btn-primary" onclick=this.form.reset();>Clear</button>
            <button id="buttonSubmit" type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div id="outputs" style="height: auto; margin-right: auto; margin-left: auto; text-align: center; max-height: 200px; max-width: 500px; overflow: auto; background-color: #eeeeee; display: none;">
    <pre id='output'></pre>
    </div>

</div>